[user]
  name = Yoshifumi Hosoya
  email = yoshifumi.hosoya.wj@renesas.com

[color]
  ui = auto

[alias]
  st = status
  co = checkout
  lg  = log --oneline --graph --decorate
  lga = log --oneline --graph --decorate --all

[pager]
#        log = diff-highlight | less
#        show = diff-highlight | less
#        diff = diff-highlight | less

[merge]
  tool = ediff

[mergetool "ediff"]
  cmd = emacsclient --eval \"(ediff-merge-files-with-ancestor \\\"$PWD/$LOCAL\\\" \\\"$PWD/$REMOTE\\\" \\\"$PWD/$BASE\\\" nil \\\"$PWD/$MERGED\\\")\"
[core]
	pager = less -x8
